@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer base {
  /* Set default theme to light */
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-white text-slate-900 transition-colors duration-300;
  }

  /* Dark mode body styling */
  body.dark {
    @apply bg-black text-white;
  }
}

@layer utilities {
  /* Custom scrollbar hiding utility */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


